<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/ListClass.css" />
    <script src="https://kit.fontawesome.com/928d877393.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <header class="header-navbar">
            <ul class="hdr">
                <li>
                    @Html.ActionLink("Cooking Together", "Index", "User", new { @class = "nav-option", @id = "title" })
                </li>
                <li>
                    <a href=@Url.Action("Index", "Log")>LogOut</a>
                    @*@Html.ActionLink("Logout", "Log/Index", "Log", new { @class = "nav-option" })*@
                </li>
            </ul>
        </header>

        <div class="container-body">
            @RenderBody()

        </div>
        @*<footer>
            <p>&copy; @DateTime.Now.Year - Cooking Together project</p>
        </footer>*@

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
