@model IEnumerable<CourseWeb.Models.DBModels.Recipy>

@{
    ViewBag.Title = "Recipy List";
}

<head>
    <link rel="stylesheet" href="~/Styles/IndexElements.css" />
    <link rel="stylesheet" href="~/Styles/CreateRecipy.css" />
</head>
<div class="cont">
    @foreach (var item in Model)
    {
        <div class="item-container">
            <div class="workspace">
                <img src="~/images/@item.Image" />
                <div>
                    <p>Name: @Html.DisplayFor(modelItem => item.Name)</p>
                    <p>User: @Html.DisplayFor(modelItem => item.UserCreator)</p>
                    <p>
                        State: @if (item.State == 0)
                        {<span>In Progress</span> }
                        else
                        { <span>Ready</span>}
                    </p>
                    <p>Adress: @Html.DisplayFor(modelItem => item.Adress)</p>
                    <p>Time: @Html.DisplayFor(modelItem => item.Time)</p>
                    <div class="details-link">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>
                </div>

            </div>
            <hr />
        </div>

    }
</div>
<a href="@Url.Action("Create", "User")" class="float">
    <i class="fa fa-plus my-float"></i>
</a>
@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/jqueryval")*@
@*@if (@ViewBag.Messages != null)
    {*@
@using CourseWeb.Models.DBModels;
    @foreach (var item in (List<Recipy>)ViewData["ReadyRecipies"])
    {
    <script type="text/javascript">
        window.addEventListener("load", function () {
            alert("@item.Name is ready");
        });
    </script>
    }


